<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bill</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    <link rel="stylesheet" href="/bill.css">
</head>
<body>

    <!-- <div class="header1">
        <nav>
            <img src="/logo.png" alt="logo">
            <h3><a href="/logout">Log out</a></h3>
        </nav>
    </div> -->

    <div class="container">
        <table class="info" style="width:100%">
            <tr>
                <td>
                    <img src="/logo.png" alt="logo" height="120px">
                </td>
                <td align="right">
                    <h2>Homecraft</h2>
                    <p>Plot No. 521, Road No. 5, Near Paliwal Chowkdi, GIDC Sachin, Surat - 394230</p>
                    <p>Phone no.: +91-9328282823</p>
                    <p>GSTIN: 24ARFPR5413C1Z5, State: 24-Gujarat</p>
                </td>
            </tr>
        </table>

        <br>
        <center><h3>Tax Invoice</h3></center> 
        <br>
        <br>
        
        <form action="/bill" method="post"> 
            <table style="width:100%">
                <input type="hidden" name="work_no" value="<%= no.work_no %>" readonly/>
                <tr>
                    <td>
                        <h4>Bill To</h4><br>
                        <input type="text" class="input_field" placeholder="Name" name="name" value="<%= no.name %>" /><br>
                        <textarea name="add" cols="20" rows="3" placeholder="Address"><%= no.add %></textarea><br>
                        <label>Contact No: <input type="tel" class="input_field" maxlength="10" name="p_no" value="<%= no.p_no %>"></label><br>
                        <label>State: 
                            <select name="state" required>
                                <option value="">-- Select State --</option>
                                <option value="01 - Jammu and Kashmir" <%= no.state === '01 - Jammu and Kashmir' ? 'selected' : '' %>>Jammu and Kashmir</option>
                                <option value="02 - Himachal Pradesh" <%= no.state === '02 - Himachal Pradesh' ? 'selected' : '' %>>Himachal Pradesh</option>
                                <option value="03 - Punjab" <%= no.state === '03 - Punjab' ? 'selected' : '' %>>Punjab</option>
                                <option value="04 - Chandigarh" <%= no.state === '04 - Chandigarh' ? 'selected' : '' %>>Chandigarh</option>
                                <option value="05 - Uttarakhand" <%= no.state === '05 - Uttarakhand' ? 'selected' : '' %>>Uttarakhand</option>
                                <option value="06 - Haryana" <%= no.state === '06 - Haryana' ? 'selected' : '' %>>Haryana</option>
                                <option value="07 - Delhi" <%= no.state === '07 - Delhi' ? 'selected' : '' %>>Delhi</option>
                                <option value="08 - Rajasthan" <%= no.state === '08 - Rajasthan' ? 'selected' : '' %>>Rajasthan</option>
                                <option value="09 - Uttar Pradesh" <%= no.state === '09 - Uttar Pradesh' ? 'selected' : '' %>>Uttar Pradesh</option>
                                <option value="10 - Bihar" <%= no.state === '10 - Bihar' ? 'selected' : '' %>>Bihar</option>
                                <option value="11 - Sikkim" <%= no.state === '11 - Sikkim' ? 'selected' : '' %>>Sikkim</option>
                                <option value="12 - Arunachal Pradesh" <%= no.state === '12 - Arunachal Pradesh' ? 'selected' : '' %>>Arunachal Pradesh</option>
                                <option value="13 - Nagaland" <%= no.state === '13 - Nagaland' ? 'selected' : '' %>>Nagaland</option>
                                <option value="14 - Manipur" <%= no.state === '14 - Manipur' ? 'selected' : '' %>>Manipur</option>
                                <option value="15 - Mizoram" <%= no.state === '15 - Mizoram' ? 'selected' : '' %>>Mizoram</option>
                                <option value="16 - Tripura" <%= no.state === '16 - Tripura' ? 'selected' : '' %>>Tripura</option>
                                <option value="17 - Meghalaya" <%= no.state === '17 - Meghalaya' ? 'selected' : '' %>>Meghalaya</option>
                                <option value="18 - Assam" <%= no.state === '18 - Assam' ? 'selected' : '' %>>Assam</option>
                                <option value="19 - West Bengal" <%= no.state === '19 - West Bengal' ? 'selected' : '' %>>West Bengal</option>
                                <option value="20 - Jharkhand" <%= no.state === '20 - Jharkhand' ? 'selected' : '' %>>Jharkhand</option>
                                <option value="21 - Odisha" <%= no.state === '21 - Odisha' ? 'selected' : '' %>>Odisha</option>
                                <option value="22 - Chhattisgarh" <%= no.state === '22 - Chhattisgarh' ? 'selected' : '' %>>Chhattisgarh</option>
                                <option value="23 - Madhya Pradesh" <%= no.state === '23 - Madhya Pradesh' ? 'selected' : '' %>>Madhya Pradesh</option>
                                <option value="24 - Gujarat" <%= no.state === '24 - Gujarat' ? 'selected' : '' %>>Gujarat</option>
                                <option value="25 - Daman and Diu" <%= no.state === '25 - Daman and Diu' ? 'selected' : '' %>>Daman and Diu</option>
                                <option value="26 - Dadra and Nagar Haveli" <%= no.state === '26 - Dadra and Nagar Haveli' ? 'selected' : '' %>>Dadra and Nagar Haveli</option>
                                <option value="27 - Maharashtra" <%= no.state === '27 - Maharashtra' ? 'selected' : '' %>>Maharashtra</option>
                                <option value="28 - Andhra Pradesh (Old)" <%= no.state === '28 - Andhra Pradesh (Old)' ? 'selected' : '' %>>Andhra Pradesh (Old)</option>
                                <option value="29 - Karnataka" <%= no.state === '29 - Karnataka' ? 'selected' : '' %>>Karnataka</option>
                                <option value="30 - Goa" <%= no.state === '30 - Goa' ? 'selected' : '' %>>Goa</option>
                                <option value="31 - Lakshadweep" <%= no.state === '31 - Lakshadweep' ? 'selected' : '' %>>Lakshadweep</option>
                                <option value="32 - Kerala" <%= no.state === '32 - Kerala' ? 'selected' : '' %>>Kerala</option>
                                <option value="33 - Tamil Nadu" <%= no.state === '33 - Tamil Nadu' ? 'selected' : '' %>>Tamil Nadu</option>
                                <option value="34 - Puducherry" <%= no.state === '34 - Puducherry' ? 'selected' : '' %>>Puducherry</option>
                                <option value="35 - Andaman and Nicobar Islands" <%= no.state === '35 - Andaman and Nicobar Islands' ? 'selected' : '' %>>Andaman and Nicobar Islands</option>
                                <option value="36 - Telangana" <%= no.state === '36 - Telangana' ? 'selected' : '' %>>Telangana</option>
                                <option value="37 - Andhra Pradesh (New)" <%= no.state === '37 - Andhra Pradesh (New)' ? 'selected' : '' %>>Andhra Pradesh (New)</option>
                                <option value="38 - Ladakh" <%= no.state === '38 - Ladakh' ? 'selected' : '' %>>Ladakh</option>
                            </select>
                        </label>
                    </td>
                    <td>
                        <h4>Ship To</h4><br>
                        <input type="text" class="input_field" placeholder="Address" />
                    </td>
                    <td>
                        <h4>Transportation Details</h4><br>
                        <label>Driver Name: <input type="text" class="input_field" placeholder="Name"/></label><br>
                        <label>Vehicle Number: <input type="text" class="input_field" placeholder="GJ05FR9362"/></label><br>
                        <label>Delivery Date: <input type="date" class="input_field" placeholder="date"/></label><br>
                        <label>Location:<input type="text" class="input_field" placeholder="Surat"></label><br>
                        <label>LR Number: <input type="text" class="input_field"></label>
                    </td>
                    <td>
                        <h4>Invoice Details</h4><br>
                        <label>Invoice No:<input type="text" class="input_field" value="<%= no.work_no %>" readonly></label><br>
                        <label>Date: <input type="date" class="input_field"></label><br>
                        <label>Place of supply:<input type="text" class="input_field"></label><br>
                        <label>Due Date: <input type="date" class="input_field"></label>
                    </td>
                </tr>
            
            </table><br>

            <table class="bill" cellspacing="5">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Item Name</th>
                        <th>HSN/SAC</th>
                        <th>Quantity</th>
                        <th>Unit</th>
                        <th>Price/Unit</th>
                        <th>GST</th>
                        <th>Amount</th>
                    </tr>
                </thead>
                <tbody>
                    <% no.quotation.forEach((q, index) => { %>
                        <tr>
                            <td class="sr-no"><%= index + 1 %></td>
                            <td><input type="text" step="any" name="material[]" value="<%= q.material || '' %>"></td>
                            <td><input type="text" step="any" name="q_hsn[]" value="<%= q.q_hsn || '' %>"></td>
                            <td><input type="number" step="any" name="qty[]" value="<%= q.qty || '' %>"></td>
                            <td>Mtr</td>
                            <td><input type="number" step="any" name="q_rate[]" value="<%= q.q_rate || '' %>"></td>
                            <td><input type="number" step="any" name="q_gst[]" value="<%= q.q_gst || '' %>"></td>
                            <td><input type="number" step="any" name="grand_total[]" value="<%= q.grand_total || '' %>"></td>
                        </tr>
                    <% }) %>
                </tbody>
            </table><br>

            <!--dont know how to make this table-->
            <table class="tax" style="width: 100%;">
                <tr>
                    <th>Tax Type</th>
                    <th>Taxable amount</th>
                    <th>Rate</th>
                    <th>Tax amount</th>
                    <th>Amounts</th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
                <tr>
                    <td>SGST</td>
                    <td>₹ 37,460.00</td>
                    <td>2.5%</td>
                    <td>₹ 936.50</td>
                    <td>Sub Total</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>₹ 39,333.00</td>
                </tr>
                <tr>
                    <td>CGST</td>
                    <td>₹ 37,460.00</td>
                    <td>2.5%</td>
                    <td>₹ 936.50</td>
                    <th style="background-color: #eee;">Total</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td style="background-color: #eee;">₹ 39,333.00</td> 
                </tr>
                <tr></tr>
                <tr></tr>
            </table><br>

            <table class="ivoice_words">
                <tr>
                    <th align="left"><h3>Invoice Amount In Words</h3></th>
                </tr>
                <tr></tr>
                <tr></tr><tr></tr>
                <tr>
                    <td>Thirty Nine Thousand Three Hundred Thirty Three Rupees only</td>
                </tr>
            </table><br>

            <table class="terms">
                <tr>
                    <td>
                        <h3>Terms and Conditions</h3>
                        <p>- We reserve the right of recovery before due date at any time.</p>
                        <p>- Goods once sold cannot be returned. Any defect in the material</p>
                        <p>received should be brought into notice withim the 48 hours of delivery.</p>
                        <p>- The sale is understood to have been made after due consideration of </p>
                        <p>the quality of goods and prevailing rates.</p>
                        <p>- The payment of this bill shall be made by the due date failing which interest</p>
                        <p>@ 1.5% Per Month shall be charged from the due date.</p>
                    </td>
                </tr>
            </table><br>

            <table style="width: 100%;">
                <tr>
                    <td>
                        <h3>Bank Details</h3><br>
                        <p>Name: HDFC BANK</p><br>
                        <p>Account No.: 50200023386178</p><br>
                        <p>IFSC code: HDFC0000955</p><br>
                        <p>Account holder's name: Homecraft</p><br>
                    </td>
                    <td>
                        <p>For: Homecraft</p>
                        <br><br><br>
                        <br><br>
                        <h3>Authorized Signatory</h3>
                    </td>
                </tr>
            </table><br>

            <center>
                <button type="submit" class="but">Submit</button>   
                <button type="button" class="but">Print</button>
            </center>
        </form>

    </div>

    <!-- <div class="footer">
        <nav>
            <p> &copy; 2024 All Rights Reserved.</p>
            <p>Designed with <i class="fas fa-heart" style="color:red"></i></p>
        </nav>
    </div> -->

</body>
</html>