<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Fiter 2</title>
  <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.2.0/css/all.css'>
	<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.2.0/css/fontawesome.css'>
	<link rel="stylesheet" href="/fiter2.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" /> 
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>   <!--Bootstrap links-->

</head>
<body>
    
    <div class="header1 row">
        <div class="col-3" style="padding-left: 4%;"> <img src="/logo.png" alt="logo"> </div>
        <div class="offset-6 col-3" style="padding-left: 13%;">  <h3><a href="/logout">Log out</a></h3></div>
    </div>

   <!-- <div class="screen__background">
        <span class="screen__background__shape screen__background__shape4"></span>
        <span class="screen__background__shape screen__background__shape3"></span>		
        <span class="screen__background__shape screen__background__shape2"></span>
    </div>	 -->
    
    <!-- partial:index.partial.html -->
    <div class="container">
        <div class="screen">
            <div class="screen__content">

                <form class="login" action="/addroom" method="post" id="myForm"> 
                    <div class="row">
                        <div class="col-3 login__field">
                        <h6 align="center">Work order number :</h6>
                        </div>
                        <div class="col-3 login__field">
                            <input type="text" class="login__input"  name="work_no" value="<%= no.work_no %>" readonly />
                        </div>
                        <div class="col-3 login__field">
                            <h6 align="center">Date :</h6>
                        </div>
                        <div class="col-3 login__field">
                            <input type="text" class="login__input" name="date" value="<%= no.date.toISOString().split('T')[0] %>" readonly />
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-3 login__field">
                        <h6 align="center">Phone number :</h6>
                        </div>
                        <div class="col-3 login__field">
                            <input type="text" class="login__input" name="p_no" value="<%= no.p_no %>" readonly />
                        </div>
                        <div class="col-3 login__field">
                            <h6 align="center">Delivery date :</h6>
                        </div>
                        <div class="col-3 login__field">
                            <input type="text" class="login__input" name="d_date" value="<%= no.d_date.toISOString().split('T')[0] %>" readonly/>
                        </div>
                    </div>

                    <div class="row login__field">
                        <div class="col-3">
                            <h6 align="center">Address :</h6>
                        </div> 
                        <input type="text" class="login__input" name="add" value="<%= no.add %>" readonly />
                    </div>

                    <div class="row">
                        <div class="col-1"></div>
                        <div class="col-8 login__field">
                            <label>
                                <span>Work Order Status : </span> 
                            </label>
                            <select class="login__option" name="w_status">
                                <option><%= no.w_status %></option>
                                <option>Details Pending</option>
                                <option>Measurement Pending</option>
                                <option>Given for Stiching</option>
                                <option>Delivery Pending</option>
                                <option>Order Delivered</option>
                            </select>
                        </div>
                        <div class="col-3">
                            <button class="button login__submit" type="submit">
                                <span class="button__text">Create Quotation</span>
                                <i class="button__icon fas fa-chevron-right"></i>
                            </button>	
                        </div>
                    </div>
                    
                </form>

               <!-- <form id="myForm" class="login" action="/addroom" method="post">   
                     Text fields will be added here 
                </form>	-->

                <form class="login" >
                    <div class="row">
                        <div class="col-2"></div>
                        <div class="col-3">
                            <button class="button login__submit" type="button" onclick="addTextField()">
                                <span class="button__text">Add Room</span>
                                <i class="button__icon fas fa-chevron-right"></i>
                            </button>	
                        </div>
                        <div class="col-2"></div>
                        <div class="col-3">
                            <button class="button login__submit" type="button" onclick="addTextFieldforwindow()">
                                <span class="button__text">Add Window</span>
                                <i class="button__icon fas fa-chevron-right"></i>
                            </button>	
                        </div>
                    </div>	
                    <br/>

                    
                        
                </form>

            </div>
            	
        </div>
    </div>
    <!-- partial -->

    <script  src="/fiter2.js"></script>

</body>
</html>

<!-- aapde container na background ne bahar nu background kari daiaa and andar grey or green tone single rakhiaa-->