<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Measurement</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  
    <link rel="stylesheet" href="/Quotation.css">

    <style>
        .table-container {
            width: 100%;
            overflow-x: auto;
        }

        table {
            width: 100%;
            table-layout: fixed;
            word-wrap: break-word;
        }

        .table_cell {
            width: 100%;
            box-sizing: border-box;
        }
    </style>

    <script>
        $(document).ready(function () {
            function calculateFabricRequirement(curtainType, width, height) {
                if (!curtainType || curtainType.trim() === "") {
                    return "";
                }
                if (curtainType.toLowerCase() === "roman") {
                    return Math.ceil(((height + 12) / 39) * Math.ceil(width / 50) * 4) / 4;
                } else {
                    return Math.ceil(((height + 12) / 39) * Math.ceil(width / 20) * 4) / 4;
                }
            }
    
            function updateTotals() {
                let totalFabric = 0;
                let totalBlackout = 0;
                let roman = 0;
                let american = 0;
                let ring = 0;
    
                for (let i = 1; i <= 20; i++) {
                    let curtainType = $(`input[name="curtain${i}"]`).val();
                    let width = parseFloat($(`input[name="width${i}"]`).val()) || 0;
                    let height = parseFloat($(`input[name="height${i}"]`).val()) || 0;
                    let blackout = $(`input[name="blackout${i}"]`).val().trim();
    
                    // Calculate Fabric Requirement
                    let fabricReq = calculateFabricRequirement(curtainType, width, height);
                    $(`input[name="fabric_req${i}"]`).val(fabricReq);
    
                    // Ensure blackout_req is summed even if empty
                    let blackoutReq = blackout !== "" ? fabricReq : 0;
                    $(`input[name="blackout_req${i}"]`).val(blackout !== "" ? fabricReq : ""); 

                    totalFabric += fabricReq;
                    totalBlackout += parseFloat(blackoutReq) || 0; // Ensure empty values are treated as 0

    
                    // Calculate Total Parts
                    if (curtainType.toLowerCase() === "roman") {
                        roman += (width * height) / 144;
                    }
                    if (curtainType.toLowerCase() === "american") {
                        american += Math.ceil(width / 20);
                    }
                    if (curtainType.toLowerCase() === "ring") {
                        ring += Math.ceil(width / 20);
                    }
                }
    
                // Update total fields
                $("#roman").val(roman.toFixed(2));
                $("#american").val(american);
                $("#ring").val(ring);
                $("input[name='total_fab_req']").val(totalFabric.toFixed(2));
                $("input[name='total_black_req']").val(totalBlackout.toFixed(2));
            }
    
            // Event listeners for real-time calculation
            $(document).on("input", "input[name^='width'], input[name^='height'], input[name^='curtain'], input[name^='blackout']", function () {
                updateTotals();
            });
    
            // Run the function initially to set values
            updateTotals();
        });

        
    </script>
</head>

<body>

    <div class="header1">
        <nav>
            <img src="/logo.png" alt="logo">
            <h3><a href="/logout">Log out</a></h3>
        </nav>
    </div>

    <div class="container">
        <div class="row jumbotron">            
            <form class="login" method="post">   
                <div class="row">                 
                    <div class="col-2 login__field">
                        <h6 align="center">Work order number : </h6>
                    </div>  
                    <div class="col-1"></div> 
                    <div class="col-3 login__field">
                        <input type="text" class="login__input" name="work_no" value="<%= no.work_no %>" readonly/>
                    </div>
                    <div class="col-2 login__field">
                        <h6 align="center">Date : </h6>
                    </div>  
                    <div class="col-1"></div> 
                    <div class="col-3 login__field">
                        <input type="date" class="login__input" name="date" <% if (no.date) { %> value="<%= no.date.toISOString().split('T')[0] %>"<% } %> readonly/>
                    </div>

                    <div class="col-2 login__field">
                        <h6 align="center">Phone no. : </h6>
                    </div>  
                    <div class="col-1"></div> 
                    <div class="col-3 login__field">
                        <input type="text" class="login__input" name="p_no" value="<%= no.p_no %>" readonly />
                    </div>
                    <div class="col-2 login__field">
                        <h6 align="center">Delivery Date : </h6>
                    </div>  
                    <div class="col-1"></div> 
                    <div class="col-3 login__field">
                        <input type="date" class="login__input" name="d_date" <% if (no.d_date) { %> value="<%= no.d_date.toISOString().split('T')[0] %>"<% } %> readonly/>
                    </div>
                    <div class="col-2 login__field">
                        <h6 align="center">Address</h6>
                    </div>
                    <div class="col-10 login__field">
                        <input type="text" class="login__input" name="add" value="<%= no.add %>" readonly />
                    </div>
                </div>    
                <br/> <br/>
                <div class="row">
                    <div class="col-4"></div>
                    <div class="col-4">
                        <h3>Measurement Table</h3>  
                    </div>
                    <div class="col-4"></div>
                </div>    <br/>
                <div class="table-container">
                    <table class="table table-hover table-bordered">
                        <thead class="table1">
                            <tr>
                                <th>Room No.</th>
                                <th>Room Name</th>
                                <th>Type of Curtain</th>
                                <th>Width (in)</th>
                                <th>Height (in)</th>
                                <th>Fabric</th>
                                <th>Fabric Required (meter)</th>
                                <th>Blackout</th>
                                <th>Blackout Required (meter)</th>
                            </tr>
                        </thead>                                        
                        <tbody id="tableBody">
                            <% for (let i = 1; i <= 20; i++) { %>  

                                <tr>
                                    <td><input class="table_cell" type="number" name="room_number<%= i %>" value="<%= no['room_number' + i] %>"></td>
                                    <td><input class="table_cell" type="text" name="room_name<%= i %>" value="<%= no['room_name' + i] %>"></td>
                                    <td><input class="table_cell" type="string" name="curtain<%= i %>" value="<%= no['curtain' + i] %>" ></td>
                                    <td><input class="table_cell" type="number" name="width<%= i %>" value="<%= no['width' + i] %>" ></td>
                                    <td><input class="table_cell" type="number" name="height<%= i %>" value="<%= no['height' + i] %>" ></td>
                                    <td><input class="table_cell" type="String" name="fabric<%= i %>" value="<%= no['fabric' + i] %>" ></td>
                                    <td><input class="table_cell" type="number" name="fabric_req<%= i %>" value="<%= no['fabric_req' + i] %>" ></td>
                                    <td><input class="table_cell" type="String" name="blackout<%= i %>" value="<%= no['blackout' + i] %>"></td>
                                    <td><input class="table_cell" type="number" name="blackout_req<%= i %>" value="<%= no['blackout_req' + i] %>"></td>
                                </tr>

                            <% } %>

                            <tr>
                            <td></td>
                            <td>Total Parts</td>
                            <td></td>
                            <td>
                                <input type="number" id="roman" name="roman" class="login__input" value="<%= no.roman %>" readonly>
                            </td>
                            <td><input type="number" id="american" name="american" class="login__input" value="<%= no.american %>" readonly></td>
                            <td><input type="number" id="ring" name="ring" class="login__input" value="<%= no.ring %>" readonly></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            </tr>

                            <tr>
                            <td></td>
                            <td>Total Fabrics</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>
                                <input type="number"  class="login__input" name="total_fab_req"  value="<%= no.total_fab_req %>" readonly>
                            </td>
                            <td></td>
                            <td>
                                <input type="number" class="login__input" name="total_black_req"  value="<%= no.total_black_req %>" readonly>
                            </td> 
                            </tr>
                        </tbody> 
                    </table><br/><br/>
                    <center><button id= "btn1" type="submit" class="submit" formaction="/measure-save" > Save </button></center>

                </div>
            </form>
        </div>
    </div>
</body>
