<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Quotation</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  
	<link rel="stylesheet" href="/Quotation.css">
</head>

<body>

	<div class="header1">
		<nav>
			<img src="/logo.png" alt="logo">
			<h3><a href="/logout">Log out</a></h3>
		</nav>
	</div>

	<div class="container">
		<div class="row jumbotron">            
			<form class="login" method="post">   
				<div class="row">                 
                    <div class="col-2 login__field">
                        <h6 align="center">Work order number : </h6>
                    </div>  
                    <div class="col-1"></div> 
                    <div class="col-3 login__field">
                        <input type="text" class="login__input" name="work_no" value="<%= no.work_no %>" readonly/>
                    </div>
                    <div class="col-2 login__field">
                        <h6 align="center">Date : </h6>
                    </div>  
                    <div class="col-1"></div> 
                    <div class="col-3 login__field">
                        <input type="date" class="login__input" name="date" <% if (no.date) { %> value="<%= no.date.toISOString().split('T')[0] %>"<% } %> readonly/>
                    </div>

                    <div class="col-2 login__field">
                        <h6 align="center">Phone no. : </h6>
                    </div>  
                    <div class="col-1"></div> 
                    <div class="col-3 login__field">
                        <input type="text" class="login__input" name="p_no" value="<%= no.p_no %>" readonly />
                    </div>
                    <div class="col-2 login__field">
                        <h6 align="center">Delivery Date : </h6>
                    </div>  
                    <div class="col-1"></div> 
                    <div class="col-3 login__field">
                        <input type="date" class="login__input" name="d_date" <% if (no.d_date) { %> value="<%= no.d_date.toISOString().split('T')[0] %>"<% } %> readonly/>
                    </div>
                    <div class="col-2 login__field">
                        <h6 align="center">Address</h6>
                    </div>
                    <div class="col-10 login__field">
                        <input type="text" class="login__input" name="add" value="<%= no.add %>" readonly />
                    </div>
                </div>    
                <br/> <br/>	
				<div class="row">
					<div class="col-5"></div>
					<div class="col-4">
						<h3>Quotation</h3>  
					</div>
					<div class="col-3"></div>
				</div><br/>
				<div class="table-container">
					<table class="table table-hover table-bordered">
						<thead class="table1">
							<tr>
								<th>Sr No.</th>
								<th>Material</th>
								<th>Meters / Sq.Ft.</th>
								<th>Rate</th>
								<th>Discount</th>
								<th>Sub Total</th>
								<th>GST</th>
								<th>Grand Total</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>1</td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
						</tbody> 
						<tbody>
							<tr>
								<td>2</td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
						</tbody> 
						<tbody>
							<tr>
								<td>3</td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
						</tbody> 
						<tbody>
							<tr>
								<td>4</td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
						</tbody> 
						<tbody>
							<tr>
								<td>5</td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
						</tbody> 
						<tbody>
							<tr>
								<td>6</td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
						</tbody> 
						<tbody>
							<tr>
								<td>7</td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
						</tbody> 
						<tbody>
							<tr>
								<td>8</td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
						</tbody> 
						<tbody>
							<tr>
								<td>9</td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
						</tbody> 
						<tbody>
							<tr>
								<td>10</td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td></td>
								<td>Grand Total</td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td style="background-color: #62cca5;"></td>
							</tr>
						</tbody> 
					</table>
				</div><br/>

				<div class="row login__field row">
					<h6 class="col-3">Work Order Status:</h6>
					<select class="login__input col-4" name="w_status">
						<option><%= no.w_status %></option>
						<option>Details Pending</option>
						<option>Measurement Pending</option>
						<option>Given for Stiching</option>
						<option>Delivery Pending</option>
						<option>Order Delivered</option>
					</select>
				</div><br/><br/>
				<div>
					<center>
						<button type="submit" class="submit" > Save </button>
						<button type="submit" class="but">Print</button>
						<button type="submit" class="but">Bill</button> 
					</center>
				</div>
			</form>
		</div>
	</div>

	<div class="footer">
		<nav>
			<p> &copy; 2024 All Rights Reserved.</p>
			<p>Designed with <i class="fas fa-heart" style="color:red"></i></p>
		</nav>
	</div>

</body>
</html>


<!-- fabric req and blackout req database ma update nai thatu -->