<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quotation</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  
    <link rel="stylesheet" href="/Quotation.css">
</head>

<body>

    <div class="header1">
        <nav>
            <img src="/logo.png" alt="logo">
            <h3><a href="/logout">Log out</a></h3>
        </nav>
    </div>

    <div class="container">
        <div class="row jumbotron">            
            <form class="login">   
                <div class="row">                 
                    <div class="col-2 login__field">
                        <h6 align="center">Work order number : </h6>
                    </div>  
                    <div class="col-1"></div> 
                    <div class="col-3 login__field">
                        <input type="text" class="login__input" name="work_no" value="<%= no.work_no %>" readonly/>
                    </div>
                    <div class="col-2 login__field">
                        <h6 align="center">Date : </h6>
                    </div>  
                    <div class="col-1"></div> 
                    <div class="col-3 login__field">
                        <input type="date" class="login__input" name="date" <% if (no.date) { %> value="<%= no.date.toISOString().split('T')[0] %>"<% } %> readonly/>
                    </div>

                    <div class="col-2 login__field">
                        <h6 align="center">Phone no. : </h6>
                    </div>  
                    <div class="col-1"></div> 
                    <div class="col-3 login__field">
                        <input type="text" class="login__input" name="p_no" value="<%= no.p_no %>" readonly />
                    </div>
                    <div class="col-2 login__field">
                        <h6 align="center">Delivery Date : </h6>
                    </div>  
                    <div class="col-1"></div> 
                    <div class="col-3 login__field">
                        <input type="date" class="login__input" name="d_date" <% if (no.d_date) { %> value="<%= no.d_date.toISOString().split('T')[0] %>"<% } %> readonly/>
                    </div>
                    <div class="col-2 login__field">
                        <h6 align="center">Address</h6>
                    </div>
                    <div class="col-10 login__field">
                        <input type="text" class="login__input" name="add" value="<%= no.add %>" readonly />
                    </div>
                </div>    
                <br/> <br/>
                <div class="row">
                    <div class="col-4"></div>
                    <div class="col-4">
                        <h3>Measurement Table</h3>  
                    </div>
                    <div class="col-4"></div>
                </div>    <br/>
                <div class="table-container">
                    <table class="table table-hover table-bordered">
                        <thead class="table1">
                            <tr>
                                <th>Room No.</th>
                                <th>Room Name</th>
                                <th>Type of Curtain</th>
                                <th>Width (in)</th>
                                <th>Height (in)</th>
                                <th>Fabric</th>
                                <th>Fabric Required (meter)</th>
                                <th>Blackout</th>
                                <th>Blackout Required (meter)</th>
                            </tr>
                        </thead>                                        
                        <tbody id="tableBody">
                            <% let totalParts = 0; %>
                            <% let american = 0; %>
                            <% let ring = 0; %>
                            <% for (let i = 1; i <= 20; i++) { %>  
                                
                                <% if (no['curtain' + i] && no['curtain' + i].toLowerCase() === 'roman') { %>
                                    <% let width = parseFloat(no['width' + i]); %>
                                    <% let height = parseFloat(no['height' + i]); %>
                                    <% totalParts += ((width * height) / 144); %>
                                <% } %>   

                                <% if (no['curtain' + i] && no['curtain' + i].toLowerCase() === 'american') { %>
                                    <% let width = parseFloat(no['width' + i]); %>
                                    <% american += Math.ceil(no['width' + i] / 20); %>
                                <% } %>

                                <% if (no['curtain' + i] && no['curtain' + i].toLowerCase() === 'ring') { %>
                                    <% let width = parseFloat(no['width' + i]); %>
                                    <% ring += Math.ceil(no['width' + i] / 20); %>
                                <% } %>

                                <%
                                    var D12 = no['curtain' + i]; 
                                    var E12 = no['width' + i]; 
                                    var F12 = no['height' + i];  

                                    function calculateValue(D12, E12, F12) {    
                                        if (typeof D12 !== 'string' || D12.trim() === "") { 
                                                return ""; 
                                            } else if (D12.toLowerCase() === "roman") { 
                                                return Math.ceil(((F12 + 12) / 39) * Math.ceil(E12 / 50) * 4) / 4; 
                                            } else { 
                                                return Math.ceil(((F12 + 12) / 39) * Math.ceil(E12 / 20) * 4) / 4; 
                                        } 
                                    } 
                                        
                                    if ( no['fabric_req' + i] == null ) { 
                                        no['fabric_req' + i] = calculateValue(D12, E12, F12); 
                                    } 
                                %>

                                <%  no['blackout_req' + i] = no['fabric_req' + i]   %>
                                   
                                <tr>
                                    <td><%= no['room_number' + i] %></td>
                                    <td><%= no['room_name' + i]  %></td>
                                    <td><%= no['curtain' + i]  %></td>
                                    <td><%= no['width' + i]  %></td>
                                    <td><%= no['height' + i]  %></td>
                                    <td><%= no['fabric' + i]  %></td>
                                    <td><%= no['fabric_req' + i] %></td>
                                    <td><%= no['blackout' + i]  %></td>
                                    <td><%= no['blackout_req' + i]  %></td>
                                </tr>                           
                            <% } %>
                            
                            <%
                                function total_fab_req() {
                                    var total = 0;  
                                    for (var i = 0; i <= 20; i++) {
                                        total += no['fabric_req' + i] || 0; 
                                    }
                                    return total;
                                }
                            %>

                            <tr>
                            <td></td>
                            <td>Total Parts</td>
                            <td></td>
                            <td>
                                <input type="number" id="totalParts" class="login__input" value="<%= totalParts %>" readonly>
                            </td>
                            <td><input type="number" id="american" class="login__input" value="<%= american %>" readonly></td>
                            <td><input type="number" id="ring" class="login__input" value="<%= ring %>" readonly></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            </tr>

                            <tr>
                            <td></td>
                            <td>Total Fabrics</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>
                                <input type="number"  class="login__input" value="<%= total_fab_req() %>" readonly>
                            </td>
                            <td></td>
                            <td>
                                <input type="number" class="login__input" value="<%= total_fab_req() %>" readonly>
                            </td> <!-- temporary fab nu total blackout ma nakhi dedhu che-->
                            </tr>
                        </tbody> 
                    </table><br/><br/>
                    <button type="submit" class="submit"> Re-Submit </button>

                </div>
                  
                <br/><br/>
                <div class="row">
                    <div class="col-5"></div>
                    <div class="col-4">
                        <h3>Quotation</h3>  
                    </div>
                    <div class="col-3"></div>
                </div><br/>
                <div class="table-container">
                    <table class="table table-hover table-bordered">
                        <thead class="table1">
                            <tr>
                                <th>Sr No.</th>
                                <th>Material</th>
                                <th>Meters / Sq.Ft.</th>
                                <th>Rate</th>
                                <th>Discount</th>
                                <th>Sub Total</th>
                                <th>GST</th>
                                <th>Grand Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody> 
                        <tbody>
                            <tr>
                                <td>2</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody> 
                        <tbody>
                            <tr>
                                <td>3</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody> 
                        <tbody>
                            <tr>
                                <td>4</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody> 
                        <tbody>
                            <tr>
                                <td>5</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody> 
                        <tbody>
                            <tr>
                                <td>6</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody> 
                        <tbody>
                            <tr>
                                <td>7</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody> 
                        <tbody>
                            <tr>
                                <td>8</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody> 
                        <tbody>
                            <tr>
                                <td>9</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody> 
                        <tbody>
                            <tr>
                                <td>10</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>Grand Total</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td style="background-color: #3c9f7a;"></td>
                            </tr>
                        </tbody> 
                    </table>
                </div>
            </form>
        </div>
    </div>

    <div class="footer">
        <nav>
            <p> &copy; 2024 All Rights Reserved.</p>
            <p>Designed with <i class="fas fa-heart" style="color:red"></i></p>
        </nav>
    </div>

</body>
</html>


<!-- fabric req and blackout req database ma update nai thatu -->