
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tailor 2</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" /> 
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/tailor2.css">

</head>
<body>
    <header class="header1">
        <nav>
            <img src="/logo.png" alt="logo">
            <h3><a href="/logout">Log out</a></h3>
        </nav>
    </header>
    <div class="container"> 
        <div class="row jumbotron">
            <form class="login" action="/edit-tai" method="post">
                <div class="row">
                    <div class="col-3 login__field">
                    <h6 align="center">Work order number :</h6>
                    </div>
                    <div class="col-3 login__field">
                        <input type="text" class="login__input" name="work_no" value="<%= no.work_no %>" readonly />
                    </div>
                    <div class="col-3 login__field">
                        <h6 align="center">Name :</h6>
                        </div>
                        <div class="col-3 login__field">
                            <input type="text" class="login__input" name="name" value="<%= no.name %>" readonly />
                        </div>
                    <div class="col-3 login__field">
                        <h6 align="center">Date :</h6>
                    </div>
                    <div class="col-3 login__field">
                        <input type="date" class="login__input" name="date" <% if (no.date) { %> value="<%= no.date.toISOString().split('T')[0] %>"<% } %> readonly/>
                    </div>
                    <div class="col-3 login__field">
                        <h6 align="center">Delivery date :</h6>
                    </div>
                    <div class="col-3 login__field">
                        <input type="date" class="login__input" name="d_date" <% if (no.d_date) { %> value="<%= no.d_date.toISOString().split('T')[0] %>"<% } %> readonly/>
                    </div>
                </div>

                <div class="row">
                    <div class="col-3 login__field">
                    <h6 align="center">Phone number :</h6>
                    </div>
                    <div class="col-3 login__field">
                        <input type="text" class="login__input" name="p_no" value="<%= no.p_no %>" readonly />
                    </div>
                </div>

                <div class="row login__field">
                    <div class="col-3">
                        <h6 align="center">Address :</h6>
                    </div> 
                    <input type="text" class="login__input" name="add" value="<%= no.add %>" readonly />
                </div>

                <br/> <br/>
                    <div class="row">
                        <div class="col-4"></div>
                        <div class="col-6">
                            <h3>Measurement Table</h3>  
                        </div>
                        <div class="col-2"></div>
                    </div>    <br/>
            
                    <div class="table-container">
                        <table class="table table-hover table-bordered">
                            <thead class="table1">
                                <tr>
                                    <th>Room No.</th>
                                    <th>Room Name</th>
                                    <th>Type of Curtain</th>
                                    <th>Width (in)</th>
                                    <th>Height (in)</th>
                                    <th>Fabric</th>
                                    <th>Fabric Required (meter)</th>
                                    <th>Blackout</th>
                                    <th>Blackout Required (meter)</th>
                                </tr>
                            </thead>                                        
                            <tbody id="tableBody">
                                <% let renderedAny = false; %>
                                <% for (let i = 1; i <= 20; i++) { 
                                    if (no['room_number' + i] || no['room_name' + i] || no['curtain' + i] || no['width' + i] || no['height' + i] || no['fabric' + i]) {
                                        renderedAny = true;
                                %>
                                <tr class="data-row">
                                <td><input class="table_cell" type="number" name="room_number<%= i %>" value="<%= no['room_number' + i] %>" readonly /></td>
                                <td><input class="table_cell" type="text" name="room_name<%= i %>" value="<%= no['room_name' + i] %>" readonly /></td>
                                <!--<% 
                                let curtainType = no['curtain' + i];
                                let curtainClass = '';
                                if (curtainType === 'Roman') curtainClass = 'curtain-roman';      // blue
                                else if (curtainType === 'American') CurtainClass = 'curtain-american'; // yellow
                                else if (curtainType === 'Ring') CurtainClass = 'curtain-ring';     // green
                                %>-->
                                <td class="<%= curtainClass %>"><input class="table_cell" type="text" name="curtain<%= i %>" value="<%= no['curtain' + i] %>" readonly /></td>
                                <td><input class="table_cell" type="number" step="any" name="width<%= i %>" value="<%= no['width' + i] %>" readonly /></td>
                                <td><input class="table_cell" type="number" step="any" name="height<%= i %>" value="<%= no['height' + i] %>" readonly /></td>
                                <td><input class="table_cell" type="text" name="fabric<%= i %>" value="<%= no['fabric' + i] %>" readonly /></td>
                                <td><input class="table_cell" type="number" step="any" name="fabric_req<%= i %>" value="<%= no['fabric_req' + i] %>" readonly /></td>
                                <td><input class="table_cell" type="number" step="any" name="blackout<%= i %>" value="<%= no['blackout' + i] %>" readonly /></td>
                                <td><input class="table_cell" type="number" step="any" name="blackout_req<%= i %>" value="<%= no['blackout_req' + i] %>" readonly /></td>
                                </tr>
                                <% } } %>
                                <% if (!renderedAny) { %>
                                <tr><td colspan="9">No measurement data available.</td></tr>
                                <% } %>

                                <tr>
                                    <td colspan="9">&nbsp;</td> <!-- Creates a full-width empty row -->
                                </tr>
                                  
                                <tr class="summary-row">
                                <td></td>
                                <td>Total Parts</td>
                                <td></td>
                                <td style="background-color: #6e92bc;">
                                    <input type="number" id="roman" name="roman" class="login__input" value="<%= no.roman %>" readonly>
                                </td>
                                <td style="background-color: #eee533;"><input type="number" id="american" name="american" class="login__input" value="<%= no.american %>" readonly></td>
                                <td style="background-color: #67b877;"><input type="number" id="ring" name="ring" class="login__input" value="<%= no.ring %>" readonly></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                </tr>

                                <tr class="summary-row">
                                <td></td>
                                <td>Total Fabrics</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>
                                    <input type="number" step="any" class="login__input" name="total_fab_req"  value="<%= no.total_fab_req %>" readonly>
                                </td>
                                <td></td>
                                <td>
                                    <input type="number" step="any" class="login__input" name="total_black_req"  value="<%= no.total_black_req %>" readonly>
                                </td> 
                                </tr>
                            </tbody> 
                        </table><br/><br/>
                    </div>

                    <div class="row login__field row">
                        <h6 class="col-3">Work Order Status:</h6>
                        <select class="login__input col-4" name="w_status">
                            <option><%= no.w_status %></option>
                            <option>Details Pending</option>
                            <option>Measurement Pending</option>
                            <option>Given for Stiching</option>
                            <option>Delivery Pending</option>
                            <option>Order Delivered</option>
                        </select>
                    </div><br/><br/>
                    <div>
                    <center> <button type="submit" class="but">Submit</button> </center>
                    </div>
            </form>
        </div>  
    </div>

    <br>
    <br>
    <footer class="footer">
        <nav>
            <p> &copy; 2024 All Rights Reserved.</p>
            <p>Designed with <i class="fas fa-heart" style="color:red"></i></p>
        </nav>
    </footer>
</body>
</html>